@import "../../../assets/stylesheets/mixin";
@import "../../../assets/stylesheets/variable";

.artist-show {
  &__bottom {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;

    @include respond(mobileS) {
      flex-direction: column;
    }
  }

  &__recomended {
    margin-bottom: 2rem;
  }
}