@import "../../assets/stylesheets/variable";
@import "../../assets/stylesheets/mixin";
@import "../../assets/stylesheets/_global.scss";

.sidebarLeft {
  width: 270px;
  background-color: $color-mediumLight;

  &__userInfo {
    height: fit-content;
    @include flex-sp-b-ai-c;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0 0 1rem 0;

    .userAvatar {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-size: contain;
    }

    .userName {
      font-size: 0.8rem;
      opacity: 0.9;
      transition: opacity 0.3s ease;
      margin-left: 1rem;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__userLibrary {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 1rem;
  }
}
