@import "../../assets/stylesheets/variable";
@import "../../assets/stylesheets/mixin";

.textLoader {
  margin: 0.5rem 0;
  @include loader
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }

  100% {
    background-position: 468px 0
  }
}