@import "../../assets/stylesheets/mixin";

.sectionTitle {
  padding: 1rem 0 0.5rem 0;

  @include respond(mobileS) {
    margin: 0;
    padding: 0 0 0.5rem 0;
  }

  &__title {
    @include poppins(800, 18px);
    color: whitesmoke;

    @include respond(mobileS) {
      @include raleway(600, 12px);
    }
  }
}