@import "../../../assets/stylesheets/mixin";

.sidebarNavItem {
  transform-origin: top center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.4rem;

  &__title {
    text-transform: capitalize;
    @include openSans(400, 12px);
    transition: all 0.2s ease-in-out;
    max-width: 80%;
    text-align: end;

    &:hover {
      color: white;
    }
  }
}