.artistRelated {

  margin-left: 1rem;
  position: relative;

  &__cards {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  &__card {
    position: relative;


    .artistCard__detail {
      font-size: 15px;
      padding: 5px 0;

      .artistCard__name {
        font-size: 10px;

      }
    }
  }


}