.artistRelated {

  margin-left: 1rem;
  position: relative;

  &__cards {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  &__card {
    position: relative;


    .artistCard__detail {
      font-size: 15px;
      padding: 5px 0;

      .artistCard__name {
        font-size: 10px;

      }
    }
  }

  .artistCard__follow,
  .artistCard__unfollow {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    background-color: rgba(4, 4, 43, 0.548);
    border-radius: 0 0 5px 0;
  }
}