@import "../../assets/stylesheets/variable";
@import "../../assets/stylesheets/mixin";

.main {
  background-color: $color-extra-dark;
  width: 100%;
  height: 100vh;

  @include respond(tablet) {
    top: 0;
    right: 0;
  }
}