@import "../../assets/stylesheets/variable";
@import "../../assets/stylesheets/mixin";

.carousel-loader {
  min-height: 300px;
}

.cardLoader {
  width: 200px;
  height: 200px;

  background-size: 1000px 640px;
  @include loader
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }

  100% {
    background-position: 468px 0
  }
}