@import "../../assets/stylesheets/mixin";

.artistsPage {
  width: 100%;
  height: 100%;
  padding-top: 57px;
  padding-left: 3rem;

  &__carousel {
    .artistsPage__menu {
      justify-content: start;
      display: flex;
    }
  }



  &__content {
    display: flex;

    .artistsPage__menu {
      display: flex;
      margin: 0 0rem;
    }
  }

  &__tracks {
    padding: 0 1rem 0 0rem;
  }

  &__tracksContainer {
    flex: 1;
  }

  &__relatedArtists {
    flex: 1;
  }

  .albums {
    width: 100%;
  }
}