@import "../../assets/stylesheets/mixin";
@import "../../assets/stylesheets/variable";

.bibliotheque-item {
  width: 100%;
  position: relative;
  padding: 3px 0;
  border-radius: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  @include flex-sp-b-ai-c;
  @include openSans(500, 12px);

  &--played {
    background-color: $color-mediumLight;
    box-shadow: 0px 0px 41px -6px rgba(44, 59, 87, 0.75);
    -webkit-box-shadow: 0px 0px 41px -6px rgba(44, 59, 87, 0.75);
    -moz-box-shadow: 0px 0px 41px -6px rgba(44, 59, 87, 0.75);

    p {
      color: white;
    }
  }

  &__menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content;
    z-index: 10000;
    height: fit-content;
    background-color: $color-dark;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .arrow-icon {
      color: $color-dark;
    }
  }

  &__name {
    flex: 4;
  }

  &__artist {
    flex: 3;
  }

  &__name p,
  &__artist p {
    transition: all 0.2s ease-in-out;

    &:hover {
      color: white;
      @include openSans(500, 13px);

    }
  }

  &__play {
    flex: 1;

    svg {
      color: $color-strong;
      cursor: pointer;
    }
  }

  &__duration,
  &__owner {
    flex: 1;
  }

  &__year,
  &__play,
  &__popularity,
  &__queu-icon {
    flex: 1;
    text-align: end;
  }

  &__queu-icon {
    transition: all 0.2s ease-in-out;

    svg {
      cursor: pointer;

      &:hover {
        color: white;
        @include openSans(500, 13px);
      }
    }

  }

  &__add-to-queu,
  &__add-to-playlist {
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      margin-right: 0.5rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: white;
        @include openSans(500, 13px);

      }
    }
  }
}