@import "../../assets/stylesheets/mixin";
@import "../../assets/stylesheets/variable";
@import "../../assets/stylesheets/global.scss";


.controlBar {
  position: absolute;
  left: 0;
  bottom: 47px;
  right: 0;
  z-index: 5000;

  * {
    border-bottom: none !important;
  }
}

.__1xc0f9k {
  background-color: $color-extra-dark;
}

.__1g1kf0v {
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;

  @include respond(mobileS) {
    transform: translateX(-35%) !important;

  }
}

._ContentRSWP {
  justify-content: space-between !important;
}