@import "../../assets/stylesheets/mixin";
@import "../../assets/stylesheets/variable";
@import "../../assets/stylesheets/global.scss";

.controlBar {
  width: 100%;
  height: 65px;
  background-color: $color-dark;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 500;
  @include flex-sp-b-ai-c;

  @include respond(tablet) {
    position: relative;
    z-index: 1500;

  }
}

.PlayerRSWP {
  height: 100%;
  background-color: $color-dark !important;
}

.__mvqn38 {
  height: 60px;
}

._ContentRSWP {
  height: 57px;
  margin: 0 1rem;

  @include respond(mobileS) {
    margin: 0 5px;
  }
}

.__1g1kf0v>div {
  @include respond(mobileS) {
    min-width: 30px !important;
  }
}

._InfoRSWP.rswp__active {
  @include respond(mobileS) {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px !important;
  }
}

.__mvqn38 {
  @include respond(mobileS) {
    height: 55px;
  }
}

.__3hi4aq {
  @include respond(mobileS) {
    width: calc(100% - 242px);
  }
}

.__mvqn38 img {
  @include respond(mobileS) {
    height: 30px !important;
    width: 30px !important;
  }
}

.__nnvdcq p {
  @include respond(mobileS) {
    font-size: 12px !important;

  }
}

.__1g1kf0v {
  @include respond(tablet) {
    padding: 10px;
    width: fit-content !important;
  }
}

.__1g1kf0v button.rswp__toggle,
.__1g1kf0v button {

  @include respond(mobileS) {
    font-size: 15px !important;
  }
}


._InfoRSWP {
  @include respond(tablet) {
    border-bottom: none !important;
  }
}

.__1g1kf0v {
  @include respond(tablet) {
    padding: 0;
    position: absolute !important;
    right: 30% !important;
  }
}

.__nnvdcq {
  @include respond(mobileS) {
    padding-left: 3px;
    white-space: unset;
  }
}

.__hrnxs2 {
  @include respond(mobileS) {
    height: 51px;
  }
}