@import "../../assets/stylesheets/mixin";
@import "../../assets/stylesheets/variable";

.card {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 0.5rem;

  @include respond(mobileS) {
    height: 173px;
  }

  &__img {
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    transform-origin: right bottom;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 24px;
    color: $color-first;

    @include respond(mobileS) {
      width: 110px;
      height: 110px;
    }
  }

  &__detail {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    color: white;
    height: fit-content;
    width: 100%;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
    }


    @include respond(mobileS) {
      width: 110px;
      height: 110px;
    }
  }

  &__name {
    color: white;
    text-align: center;
    margin-right: 5px;
    @include openSans(600, 13px);

    @include respond(mobileS) {
      @include openSans(600, 10px);
    }
  }

  &__playlist-name {
    color: white;
    text-align: center;
    @include openSans(600, 13px);

  }

  &__artist {
    font-size: 11px;
    margin-top: 8px;
  }

  &__save,
  &__unSave {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    color: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    background-color: rgba(4, 4, 43, 0.548);
    border-radius: 0 0 5px 0;
  }

  &__artistName {
    font-size: 12px;
    text-align: center;
    padding-bottom: 5px;
  }
}