@import "../../assets/stylesheets/mixin";
@import "../../assets/stylesheets/variable";

.card {
  cursor: pointer;
  border-radius: 4px;

  &__img {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }

  &__detail {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    opacity: 0;
    padding: 0.5rem;
    transition: opacity 0.3s ease-in;
    border-radius: 5px;

    &:hover {
      opacity: 0.9;
      background: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    }
  }

  &__name {
    color: $color-dark;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
  }

  &__artist {
    font-size: 12px;
    font-weight: 800;
    color: $color-dark;
    text-align: center;
    margin-top: 5px;
  }
}