@import "../../assets/stylesheets/variable";
@import "../../assets/stylesheets/mixin";
@import "../../assets/stylesheets/_global.scss";

.sidebarLeft {
  width: 270px;
  background-color: $color-mediumLight;
  transition: 1s ease;
  z-index: 500;

  @include respond(tablet) {
    transform: translateX(-270px);
    transform-origin: bottom left;
    height: calc(100vh - 115px);
  }

  &__userInfo {
    min-height: 41px;
    @include flex-ai-c;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    .userName {
      font-size: 13px;
      opacity: 0.9;
      transition: opacity 0.3s ease;
      color: white;

      &:hover {
        opacity: 1;
      }
    }
  }


  &__userLibrary {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  .sectionTitleSidebar {
    margin-bottom: 10px;
  }
}