@import "../../assets/stylesheets/mixin";

.albumsPage {
  width: 100%;
  height: 100%;
  padding-top: 57px;
  margin: 0rem 2rem 0 3rem;

  &__carousel {

    .albumsPage__menu {
      justify-content: flex-start;
      display: flex;
    }
  }

  &__content {
    display: flex;

    .albumsPage__menu {
      display: flex;
    }
  }

  &__tracks {
    padding: 0 2rem 0 0rem;
  }

  &__tracksContainer {
    flex: 1;
  }

  &__relatedArtists {
    flex: 1;
  }

  .albums {
    width: 100%;
  }
}