.search-result {
  margin-left: 3rem;
  margin-right: 2rem;
  margin-bottom: 2rem;

  .tracks {
    flex: 2;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
  }
}