@import "../../assets/stylesheets/mixin";
@import "../../assets/stylesheets/variable";
@import "../../assets/stylesheets/global";

.searchBar {
  position: absolute;
  z-index: 50000;
  width: inherit;
  @include flex-center;
  margin: 1.5rem 0 0rem 3rem;
  width: 270px;
  height: 40px;
  border-radius: 8px;

  &__container {
    position: relative;
    height: fit-content;
    width: 100%;

    .iconSearch {
      position: absolute;
      left: 0.9rem;
      top: 50%;
      transform: translateY(-50%);
      color: whitesmoke;
    }
  }

  &__input {
    height: 2.5rem;
    border: none;
    outline: none;
    padding-left: 3rem;
    padding-right: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: whitesmoke;
    border-radius: 10px;
    width: 100%;
    background-color: $color-extra-dark;


    &::placeholder {
      color: whitesmoke;
      opacity: 0.5;
    }
  }
}