@import "../../assets/stylesheets/mixin";

.clickableTitle {
  @include poppins(600, 12px);
  padding: 0.5rem 0;
  color: whitesmoke;
  z-index: 20000;
  margin: 3rem 0;
  margin-right: 2rem;

  &:last-child {
    margin-right: 0;
  }
}