.categoryShow {

  &__banner {
    display: flex;
    justify-content: center;
  }

  &__detail {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1.2;
  }

  &__btn {
    width: fit-content;
  }

  &__description {
    margin-top: 2rem;
  }

  &__img {
    flex: 1;
    display: flex;
    justify-content: center;

    div {

      width: 320px;
      height: 320px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}