@import "../../assets/stylesheets/mixin";

.subtitle {
  padding-bottom: 10px;
  transform-origin: top center;
  cursor: pointer;


  &__title {
    text-transform: capitalize;
    @include openSans(500, 12px);
  }
}