@import "../../assets/stylesheets/mixin";

.subtitle {
  padding-bottom: 10px;
  transform-origin: top center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    text-transform: capitalize;
    @include openSans(500, 12px);
    transition: all 0.2s ease-in-out;

    &:hover {
      color: white;
      @include openSans(500, 13px);

    }
  }
}