@import "../../assets/stylesheets/mixin";
@import "../../assets/stylesheets/variable";
@import "../../assets/stylesheets/global";

.home {
  padding: 2rem;

  @include respond(tablet) {
    padding: 0.5rem;
  }

  &__cards {
    flex-wrap: wrap;
    gap: 1rem;
    @include flex-space-b;

    @include respond(tablet) {
      justify-content: space-evenly;
    }
  }

  .sectionTitle {
    margin-bottom: 2rem;
  }

  .sectionTitle__title {
    font-size: 17px !important;
  }
}