@import "../../assets/stylesheets/mixin";

.carousel {
  min-height: 220px;
}

.react-multi-carousel-list {
  margin: -60px 0;
  padding: 60px 0;
}

.react-multi-carousel-track {
  padding-left: 3rem;

  &:hover .react-multi-carousel-item {
    transform: translateX(-30px);
  }

  .react-multi-carousel-item {
    transition: all 0.5s ease-in-out;

    &:hover {
      z-index: 5000;
      transform: translateX(0);
    }

    &:hover~.react-multi-carousel-item {
      transform: translateX(30px);
    }
  }

  .react-multi-carousel-item {
    &:hover {
      transform: translateY(-20px);
    }
  }
}


.react-multiple-carousel__arrow {
  top: 38%;

  @include respond(mobileS) {
    top: 32%;
  }
}