.carousel {
  min-height: 230px;
}

.react-multi-carousel-list {
  margin: -60px 0;
  padding: 60px 0;
}

.react-multi-carousel-track {
  &:hover .react-multi-carousel-item {
    transform: translateX(-30px);
  }

  .react-multi-carousel-item {
    transition: all 0.5s ease-in-out;

    &:hover {
      z-index: 5000;
      transform: translateX(0);

    }

    &:hover~.react-multi-carousel-item {
      transform: translateX(30px);
    }
  }

  .react-multi-carousel-item {
    &:hover {
      transform: translateY(-20px);

    }
  }
}