@import "../../assets/stylesheets/variable";
@import "../../assets/stylesheets/mixin";
@import "../../assets/stylesheets/_global.scss";

.sidebar {
  background-color: $color-first;
  transition: 1s ease;
  z-index: 500;
  min-width: 250px;
  max-width: 250px;
  width: 100%;
  height: calc(100vh - 48px);
  display: flex;
  justify-content: center;

  .logo {
    margin: 2rem 0 4rem 0;

    &__title {
      @include poppins(800, 20px);
      color: white;
    }
  }


  @include respond(tablet) {
    position: absolute;
    transform: translateX(-270px);
    transform-origin: bottom left;
    height: calc(100vh - 90px);
  }


  [data-scrollbar] {
    padding: 0 2rem;
  }

}