.bibliothequeItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;

  p {
    z-index: 5000;
    font-size: 800;
    color: white;
    font-size: 14px;
  }

  &__name {
    flex: 4;
  }

  &__artist {
    flex: 3;
  }

  &__duration {
    flex: 1;
  }

  &__play {
    flex: 1;
    text-align: end;
  }

  &__owner {
    flex: 1;
  }

  &__icon {
    flex: 1;
    text-align: end;
    position: relative;

    svg {
      position: absolute;
      top: -8px;
      right: 3px;
    }
  }
}