@import "../../assets/stylesheets/mixin";

.play-btn {
  padding: 0.8rem 2rem;
  border-radius: 20px;
  height: 35px;
  cursor: pointer;
  font-weight: 700;
  background-color: #21d4fd;
  background: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  width: fit-content;
  transition: all 0.2s ease-in;
  margin: 2rem auto;
  margin-bottom: 0;

  box-shadow: 0px 1px 5px -1px #21d4fd;
  -webkit-box-shadow: 0px 1px 5px -1px #21d4fd;
  -moz-box-shadow: 0px 1px 5px -1px #21d4fd;
  @include flex-center;
  position: relative;

  p {
    font-size: 15px;
    color: whitesmoke;
  }
}