@import "../../assets/stylesheets/mixin";
@import "../../assets/stylesheets/variable";

.pageBanner {

  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: #0b0d17;

  &__detail {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    width: fit-content;
  }

  &__subtitle {
    @include openSans(400, 12px);
    padding-top: 0.5rem;
  }

  &__name {
    @include raleway(800, 25px);
    color: white;
  }

  &__description {
    @include openSans(600, 12px);
    margin-top: 0.5rem;
  }

  &__img {
    display: flex;
    justify-content: center;

    div {
      border-radius: 5px;
      width: 320px;
      height: 320px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .follow-btn {
    color: white;
    cursor: pointer;
    padding: 0.5rem;
  }
}