@import "../../assets/stylesheets/mixin";
@import "../../assets/stylesheets/variable";

.pageBanner {
  display: flex;
  justify-content: center;
  padding-top: 6rem;

  &__wrapper {
    background-color: $color-extra-dark;
    width: fit-content;
    display: flex;
    align-items: flex-end;
    border-radius: 15px;
  }

  @include respond(mobile) {
    padding: 0;
    flex-direction: column;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    padding: 2rem;
    min-width: 250px;
  }

  @include respond(mobile) {
    width: 100%;
  }


  &__btn {
    width: fit-content;
    display: flex;
    align-items: center
  }

  &__subtitle {
    @include openSans(600, 16px);
    padding-top: 0.5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: white;

    }
  }

  &__name {
    @include poppins(800, 25px);
    color: white;
  }

  &__release {
    @include openSans(600, 16px);
    margin: 1rem 0;
  }

  &__description {
    @include raleway(600, 14px);
    margin-top: 2rem;

  }

  &__followers {
    @include openSans(600, 16px);
    margin: 1rem 0 2rem 0;

    @include respond(mobileS) {
      margin: 1rem 0;
    }
  }

  &__img {
    display: flex;
    justify-content: center;

    div {
      width: 250px;
      height: 250px;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 15px;
      background-position: center;

      @include respond(mobileS) {
        width: 100vw;
        height: 365px;
        border-radius: 0px;

      }
    }
  }

  &__btns {
    display: flex;
  }

  &__btn {
    padding: 1rem 2rem;
    background-color: $color-light;
    color: white;
    @include openSans(600, 13px);
    border-radius: 5px;
    margin-right: 1rem;
    cursor: pointer;
  }
}