@import "./variable";
@import "./mixin";


.scrollbar-track {
    width: 4px !important;
    background-color: rgb(22,
            22,
            48) !important;
}

.scrollbar-thumb {
    background-color: #21d5fda1 !important;
    width: 4px !important;
}