@mixin flex-sp-b-ai-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-space-b {
    display: flex;
    justify-content: space-between;
}

@mixin flex-ai-c {
    display: flex;
    align-items: center;
}

@mixin openSans($weight, $px) {
    font-family: 'Open Sans', sans-serif;
    font-weight: $weight;
    font-size: $px;
}

@mixin raleway($weight, $px) {
    font-family: 'raleway', sans-serif;
    font-weight: $weight;
    font-size: $px;
}


@mixin respond($breakpoint) {
    @if $breakpoint==tablet {
        @media only screen and (max-width: 1250px) {
            @content;
        }
    }

    @if $breakpoint==mobile {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }

    @if $breakpoint==mobileS {
        @media only screen and (max-width: 548px) {
            @content;
        }
    }
}

@mixin loader {
    border-radius: 4px;
    background-color: gray;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #4e6a86;
    background: linear-gradient(to right, $color-mediumLight 8%, #485979 38%, $color-mediumLight 54%);
    position: relative;
    opacity: 0.1;
}

@mixin poppins($weight, $size) {
    font-family: 'Poppins', sans-serif;
    font-weight: $weight;
    font-size: $size;
}