@import "./mixin";
@import "./variable";

.bibliotheque-item {
    width: 100%;
    position: relative;
    padding: 4px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    @include flex-sp-b-ai-c;
    @include openSans(500, 11px);

    &__menu {
        position: absolute;
        bottom: -100%;
        bottom: -80px;
        right: 0;
        width: fit-content;
        z-index: 10000;
        height: 80px;
        background-color: $color-dark;
        border-radius: 10px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__add-to-queu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            margin-right: 1rem;
        }

        p {
            cursor: pointer;
        }
    }

    &__add-to-playlist {
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            margin-right: 1rem;
        }

        p {
            cursor: pointer;
        }
    }

    &__wrapper {
        width: 80%;
        display: flex;

        a {
            flex: 1;
            align-self: center;
        }
    }

    &__name {
        width: 100%;
        padding-right: 2rem;
        @include flex-ai-c;
    }

    &__artist {
        padding-left: 0rem
    }

    &__time {
        @include flex-ai-c;
        justify-content: flex-start;
        max-width: 64px;
        overflow: hidden;
    }

    .preview__btn {
        width: 80px;
        text-align: start;

        svg {
            cursor: pointer;
            fill: #21d5fda1;
        }
    }

    &__wrapper-right {
        width: 40%;
        align-items: flex-end;
        @include flex-space-b;

        .btn {
            display: flex;
            justify-content: space-between;
            width: 40%;

            svg {
                cursor: pointer;
            }
        }
    }
}

.content-right {
    .bibliotheque-item {

        .preview__btn {
            display: none;
        }

        &__wrapper-right {
            justify-content: flex-end;
        }
    }
}