@import "../../assets/stylesheets/mixin";

.playlistsPage {
  width: 100%;
  height: 100%;
  padding-top: 57px;
  padding-left: 3rem;

  &__menu {
    display: flex;
  }

  &__content {
    display: flex;
  }

  &__tracksContainer,
  &__relatedArtists {
    flex: 1;
  }

  .playlists {
    width: 100%;
  }
}